@import '../mixins';

// Resets
.ssknr,
.ssknrContent,
.ssknrOptions{
	margin: 0;
	padding: 0;
}

// Essential styles
:global{
  select[hidden]{
    display: none!important;
  }
}

.ssknr{
	cursor: pointer;
}

  .ssknrContent{
	  display: none;
	}

	.ssknrContentOpen{
		display: block;
	}

  .ssknrOptions{
    max-height: 8em;
    overflow-y: scroll;
  }
