{
  "extends": "airbnb",
  "rules": {
    "no-unused-vars": 0,
    "func-names": 0,
    "arrow-body-style": 0,
    "linebreak-style": 0,
    "no-restricted-syntax": 0
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
