@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin hide-a11y{
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
